:root{
  --lightBlue:#61dafb;
  /* --mainDark:#20232a; */
  --mainDark:#000;
  --mainWhite:#ffffff;
}

html {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  padding-top: 50px;
  min-width: 270px;
  color: var(--mainDark);
}

i {
  pointer-events: none !important;
}

#map {
  height: 550px;
}


@media (min-width: 576px) {

 .navbar-nav > li > a {
   /* (80px - line-height of 27px) / 2 = 26.5px */
   padding-top: 15px;
   padding-bottom: 15px;
   line-height: 20px;
 }

 .link-active {
   color: var(--lightBlue) !important;
   box-shadow: 0px -3px 0px var(--lightBlue) inset;
 }

}

@media (max-width:575px){
  body{
    padding-top: 95px;
  }

}


@media (max-width: 768px){

  .navbar .navbar-brand{
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }

  .navbar-toggler {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #navbarCollapse {
    margin-left: 1rem !important;
  }

  .search-container {
    margin-left: 1rem;
    width: 70%;
    margin-bottom: 0.5rem;
  }

  .search-container .search-box {
    margin-right: 0px !important;
    width: 70%;
  }

  .cart-container {
    margin-bottom: 0.5rem;
  }

  .cart-container .cart{
    margin-right: 1rem !important;
  }

}
